*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* common */
a{
    cursor: pointer;
    text-decoration: none;
    
}
button{
    font-family: sans-serif;
}
:root{
    --first-color:#edf3fc;
    --second-color:#606136;
    --third-color:rgb(240, 85, 13);
    --fourth-color :rgb(235, 125, 75);
    --fifth-color : #000;
    --six-color : rgb(226 223 221);
}
.dark-mood{
    --first-color:#000106;
    --second-color:#fff;
    --fifth-color : #fff;
    --six-color:#000106;

}

/* body */
/* first content  */
body{
    font-family: sans-serif;
    background-color: var(--first-color);
}
.section-one{
    width: 100%;
    height: 96vh;
}
.container{
    width: 80%;
    margin: auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

}
header .logo{
    font-size: 22px;
    text-transform: capitalize;
    color: var(--fifth-color);
}
header nav ul{
    display: flex;
    list-style: none;
    gap: 25px;
    margin-top: 10px;
}
header nav li a {
    text-decoration: none;
    color: var(--second-color);
    text-transform: capitalize;

}
header nav li a:hover{
    color: var(--third-color);
}
header nav .moon{
    color: var(--second-color);
    font-size: 23px;
    width: 30px;
    height: 30px;
    margin-top: -3px;
    display: block;
}
header nav .moon:hover{
    color: #000;
}

/* content */
.content{
    display: flex;
    justify-content: space-between
}
/* left side */
.left-content{
    margin-top:180px;
}
.left-content h2{
    font-size: 45px;
    text-transform: capitalize;
    color: var(--fifth-color);

}
h2 span{
    color: var(--third-color);
}
.left-content p {
    font-size: 23px;
    color: var(--second-color);
    margin-top: 15px;
    text-transform: capitalize;
    margin-bottom: 20px;
    line-height: 30px;
}
.left-content button{
    width: 150px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    border: 0;
    background-color: var(--third-color);
}
.left-content button:hover{
    color: var(--fifth-color);
    background-color: var(--fourth-color);
}
.links{
    margin-top: 100px;
}
.links a{
    color: var(--second-color);
    font-size: 23px;
    width: 30px;
    height: 30px;
    margin-right: 15px;
}
/* right side */
.right-content{
    margin-right: 50px;
    margin-top: 80px;
    width: 30%;
    position: relative;
}
.first-img img{
    width:350px;
    height: 400px;
    top: 0;
    left: 0;
    position: absolute;
    transition: top 1s ;
}

.second-img img{
    top: -70px;
    left: -70px;
    width:500px;
    height: 550px;
    position: absolute;
    transition: left 1s;

}

.right-content:hover .back-img{
    top: -30px;
}

.right-content:hover .front-img{
    left:-50px;
}
/* second section */
.section-two{
    background-color: var(--six-color);
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-email-location h3{
    color: var(--fifth-color);
    text-transform: capitalize;
    font-size: 22px;
    margin-bottom: 10px;
}
.number-email-location p{
    color: var(--second-color);
    margin-bottom: 15px;
}
.email,.number,.location{
    display: flex;
    align-items: center ;
}
.number-email-location span{
    margin-left: 15px;
}
.number-email-location i{
    font-size: 23px;
    margin-bottom: 14px;
    color: var(--third-color);
}
/* media qeury  */
@media (min-width:483px)  and (max-width:560px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .section-one{
        width: 100%;
        height: 177vh;
    }
    .content{
        display: flex;
        flex-direction: column;
    }
    header nav{
        width: 95%;
    }
    header nav ul{
        gap: 20px;
        margin-left: -25px;
    }
    .first-img img{
        width:350px;
        height: 400px;
    }
    .second-img img{
        width:450px;
        height: 500px;
        position: absolute;
        transition: left 1s;
    
    }
    .left-content{
        margin-top:100px;
    }
}

@media screen and (max-width:483px) {
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .section-one{
        width: 100%;
        height: 132vh;
    }
    .content{
        display: flex;
        flex-direction: column;
    }
    header nav{
        width: 95%;
    }
    header nav ul{
        gap: 20px;
        margin-left: -25px;
    }
    .first-img img{
        width:350px;
        height: 400px;
    }
    .second-img img{
        width:450px;
        height: 500px;
        position: absolute;
        transition: left 1s;
    
    }
    .left-content{
        margin-top:100px;
    }
}








